 /* 标签样式初始化 */
      body{margin:10px;padding:10px;background:#fff;font-size:16px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
         form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
         ul,li{list-style-type:none;}
         a{color:#00007F;text-decoration:none;}
         a:hover{text-decoration:none;}
         /* 自定义样式 */ 

          
       .shenjunhong-col{display: block;max-width: 960px;margin-left: auto;margin-right: auto;}
       .shenjunhong-col-1{width: 8.333%;float: left;}
       .shenjunhong-col-2{width: 16.666%;float: left;}
       .shenjunhong-col-3{width: 25%;float: left;}
       .shenjunhong-col-4{width: 33.333%;float: left;}
       .shenjunhong-col-5{width: 41.667%;float: left;}
       .shenjunhong-col-6{width: 50%;float: left;}
       .shenjunhong-col-7{width: 58.333%;float: left;}
       .shenjunhong-col-8{width: 66.666%;float: left;}
       .shenjunhong-col-9{width: 75%;float: left;}
       .shenjunhong-col-10{width: 83.333%;float: left;}
       .shenjunhong-col-11{width: 91.666%;float: left;}
       .shenjunhong-col-12{width: 100%;float: left;}


	    .nav{ color:#999999;float: right;margin-left: 40px;font-size: 14px;transition: all 0.15s linear 0s;}
      .nav:hover{color: #6bc5d2}
      .nav-column{padding-top: 20px;}
	    .websitelink{ color: #999999;vertical-align:top;font-size: 20px;float: left }
	    .top{padding-top:-20px;padding-bottom: 50px;}
      .banner{background: #6bc5d2;padding-bottom: 200px;padding-top: 150px;}
      .typographic{font-size:400px;color: #ffffff;letter-spacing: -20px;float: left;margin-top: -150px;padding-right: 40px;margin-left: 10px;}
      .slogan{font-size: 36px;color: #ffffff;}
      .introduction{color: #177c8a;margin-top: 20px;}
      .call{color: #ffffff;font-size: 18px;padding: 10px 30px;border: 1px solid #ffffff;border-radius: 5px;margin-top: 30px;display: inline-block;}
      .call:hover{color:rgba(255,255,255,0.2);}
      .contain{width: 940px;margin-left: auto;margin-right: auto;}
      .poemititle{color: #f14e42;font-size: 24px;margin-bottom: 30px;text-align: left;}
      .poemcontent{color:#6f6f70;line-height: 25px;display: inline-block;text-align: left;}
      .visiontitle{color: #f14e42;font-size: 24px;margin-bottom: 30px;margin-top: 40px;}
      .visioncontent{color: #6f6f70;line-height: 25px;}
      .contentblock{padding-bottom: 60px;padding-top: 60px;border-bottom: 1px solid #e5e5e5;text-align: center;min-height: 300px;}
      .photo{width: 600px;float: left;margin-left: 70px;padding-right: 30px;margin-top: 40px; }
      .contackblock{padding-top: 130px;padding-bottom: 130px;text-align: center;width: 400px;height: 400px;}
      .contackblock img{overflow: hidden;}
      .containtitle{font-size: 24px;color: #6f6f70;}
      .email{font-size: 18px;background: #6bc5d2;padding: 10px 40px;color: #ffffff;border-radius: 5px;margin-top: 20px;display: inline-block;transition: all 0.15s linear 0s;}
      .email:hover{background-color: #73d4e2;}
      .footer{padding: 35px 0;background: #f3f3f3;text-align: center;border-top: 1px solid #e3e3e3;}
      .footercontent{color: #bfbfbf;}
      #div2 img{width: 20px;height: 20px;}

      @media screen and (max-width:767px) 
      {
      	.shenjunhong-col{text-align: center;}
      	.shenjunhong-col-1{width: 100%;}
      	.shenjunhong-col-2{width: 100%;}
      	.shenjunhong-col-3{width: 100%;}
      	.shenjunhong-col-4{width: 100%;}
      	.shenjunhong-col-5{width: 100%;}
      	.shenjunhong-col-6{width: 100%;}
      	.shenjunhong-col-7{width: 100%;}
      	.shenjunhong-col-8{width: 100%;}
      	.shenjunhong-col-9{width: 100%;}
      	.shenjunhong-col-10{width: 100%;}
      	.shenjunhong-col-11{width: 100%;}
      	.shenjunhong-col-12{width: 100%;}
        .typographic{display: none;}
        .photo{display: none}
        .top{padding-bottom: 80px;}
        .websitelink{display: none;}
        .nav{float: none;margin-left: 20px;margin-right: 20px;}
        .contentblock{margin-left: 40px;margin-right: 40px;min-height: 200px;}
        .visiontitle{margin-top: 20px;}
      }