 /* 标签样式初始化 */
      body{margin:10px;padding:10px;background:#fff;
            font-size:16px;
            font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'
      }
      /*   form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
         ul,li{list-style-type:none;}
         a{color:#00007F;text-decoration:none;}
         a:hover{text-decoration:none;}*/
         /* 自定义样式 */ 
        #rs{background-color:  #d9534f;}   
        table{margin: 50px;padding: 10px;}
        .title{font-size: 20px;margin-top: 10px;}
        div{color:#777;}
       .table{width: 80%;}
       .shenjunhong-col{display: block;max-width: 960px;margin-left: auto;margin-right: auto;}
       .shenjunhong-col-1{width: 8.333%;float: left;}
       .shenjunhong-col-2{width: 16.666%;float: left;}
       .shenjunhong-col-3{width: 25%;float: left;}
       .shenjunhong-col-4{width: 33.333%;float: left;}
       .shenjunhong-col-5{width: 41.667%;float: left;}
       .shenjunhong-col-6{width: 50%;float: left;}
       .shenjunhong-col-7{width: 58.333%;float: left;}
       .shenjunhong-col-8{width: 66.666%;float: left;}
       .shenjunhong-col-9{width: 75%;float: left;}
       .shenjunhong-col-10{width: 83.333%;float: left;}
       .shenjunhong-col-11{width: 91.666%;float: left;}
       .shenjunhong-col-12{width: 100%;float: left;}



       @media screen and (max-width:767px)
      {
        .shenjunhong-col{text-align: center;}
        .shenjunhong-col-1{width: 100%;}
        .shenjunhong-col-2{width: 100%;}
        .shenjunhong-col-3{width: 100%;}
        .shenjunhong-col-4{width: 100%;}
        .shenjunhong-col-5{width: 100%;}
        .shenjunhong-col-6{width: 100%;}
        .shenjunhong-col-7{width: 100%;}
        .shenjunhong-col-8{width: 100%;}
        .shenjunhong-col-9{width: 100%;}
        .shenjunhong-col-10{width: 100%;}
        .shenjunhong-col-11{width: 100%;}
        .shenjunhong-col-12{width: 100%;}
        .typographic{display: none;}
        .photo{display: none}
        .top{padding-bottom: 80px;}
        .websitelink{display: none;}
        .nav{float: none;margin-left: 20px;margin-right: 20px;}
        .contentblock{margin-left: 40px;margin-right: 40px;min-height: 200px;}
        .visiontitle{margin-top: 20px;}
      }
    


